@import 'fonts.css';

/* ROOT Start */

:root {
    --f500: 'Montserat-Medium';
    --f100: 'Montserat-Thin';
    --myr: 'Myriadpro-regular';
    --nr: 'Nunitosans-regular';
    --wr: 'WorkSans-Regular';
    --dark: #1d1d1d;
    --gray: #949495;
    --green: #007d2f;
    --green-light: #1f8b48;
    --grey: #f8f9f9;
    --linear: linear-gradient;
    --black: #141414;
    --black-light: #323232;
}

a:hover {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}


/* ROOT End */


/* ********************************** */


/* Header Start */

.header {
    background: url(../images/header_img.jpg) no-repeat center center /cover;
    background-attachment: fixed;
}
.header__nav2{
    background: var(--white);
}
.header__nav-link {
    font-size: 12px;
    font-family: var(--f500);
    color: var(--dark);
    text-transform: uppercase;
    margin-left: 33px;
    transition: 0.5s;
    
}

.header__nav-link:hover {
    color: var(--green-light);
}

.logo {
    margin: 18px 0;
}

.header__text {
    margin-top: 76px;
}

.header__text-title {
    font-family: var(--f500);
    font-size: 35px;
    line-height: 19px;
    margin-bottom: 31px;
}

.header__text-description {
    color: var(--gray);
    font-family: var(--f100);
    line-height: 31px;
    margin-bottom: 54px;
}

.header__text-button {
    background: var(--green);
    color: var(--white);
    font-family: var(--f500);
    font-size: 12px;
    padding: 23px 58px;
    text-transform: uppercase;

}
.header__text-button:hover{
    background: var(--green-light);
    color: var(--gray);
    transition: 0.5s;
}
.header__main{
    background: var(--green);
    height: 313px;
}
.header__main-title{
    padding-top: 112px;
    font-size: 30px;
    font-family: var(--f500);

}
.header__main-description{
    margin: 31px auto;
    color: var(--white);
    font-size: 17.29px;
}
.header__main2{
    background: var(--black-light);
    height: 350px;
}
.header__main-title2{
    padding-top: 112px;
    font-size: 60px;
    color: var(--white);
    font-family: var(--f500);
}
.header__main-description2{
    margin: 31px auto;
    color: var(--white);
    font-size: 17.29px;
}
/* Header End */


/* ******************************************* */


/* MAIN Start */

.main {
    margin-top: 97px;
}

.title_heading {
    
    font-family: var(--f500);
    font-size: 34px;
    line-height: 20px;
    
}

.title__description {
    font-family: var(--nr);
    color: var(--gray);
    text-align: justify;
    font-size: 14px;
    margin-top: 45px;
}

.signature {
    margin-top: 53px;
    object-fit: cover;
}

.main__skills {
    background: var(--grey);
    margin-top: 43px;
}

.main__skills-box {
    margin: 165px 55px 0 137px;
}

.main__skills-item::after {
    content: '';
    display: block;
    width: 500px;
    height: 2px;
    background: var(--gray);
    margin-top: 20px;
}

.main__skills-item-1::after {
    background: linear-gradient(90deg, #007d2f 75%, #949495 25%);
}

.main__skills-item-2::after {
    background: linear-gradient(90deg, #007d2f 90%, #949495 10%);
}

.main__skills-item-3::after {
    background: linear-gradient(90deg, #007d2f 65%, #949495 35%);
}

.main__skills-title {
    font-family: var(--f500);
    font-size: 30px;
}

.main__skills-item {
    text-transform: uppercase;
    font-family: var(--f500);
    font-size: 12px;
}

.main__icons-stats {
    padding: 70px 0;
}

.main__icons {
    background: var(--green);
    height: 238px;
}

.bag {
    font-size: 48px;
    color: var(--white);
}

.main__icons-stats {
    text-align: center;
    text-transform: uppercase;
}

.clock {
    font-size: 48px;
    color: var(--white);
}

.star {
    font-size: 48px;
    color: var(--white);
}

.heart {
    font-size: 48px;
    color: var(--white);
}

.main__icons-stats-description-1 {
    font-size: 18px;
    font-family: var(--f500);
    color: var(--white);
}

.main__icons-stats-description-2 {
    font-size: 12px;
    font-family: var(--f500);
    color: var(--white);
}

.main__work-shadow:hover {
    opacity: 0.42;
    background: var(--green-light);
}

.main__work-img {
    object-fit: cover;
}

.main__work-eye-icon {
    position: absolute;
    font-size: 40px;
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.main__work-eye-icon:hover {
    opacity: 0.4;
}

.main__work-more {
    padding-top: 43px;
    background: var(--green);
    padding-bottom: 40px;
}

.main__work-more-link {
    display: block;
    font-size: 21.13px;
    text-transform: uppercase;
    color: var(--white);
    transition: 0.5s;
}

.main__work-more-link:hover {
    color: var(--black);
}
.view-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--black_shadow);
    opacity: 0;
    transition: 0.5s;
}
.load__more{
    background: var(--green);
    height: 100px;
}
.load__more-link{
    display: flex;
    justify-content: center;
    padding: 45px 0 40px 0;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--f500);
    font-size: 21.13px;
}
.load__more-link:hover{
    color: red;
}
.our__work-img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.5s;
}
.title__heading2{
    margin-top: 97px;
    font-family: var(--f500);
    font-size: 43.62px;
}
.title__description2{
    
    font-family: var(--nr);
    color: var(--gray);
    text-align: justify;
    font-size: 22.28px;
    margin-top: 28px;
}
.our__work{
    padding: 50px 0;
    
}
.our__work-img{
    object-fit: cover;
}
.main__design{
    padding: 110px 0 100px 0;
    background: var(--grey);
    margin-top: 100px;
}
.main__design-stats{
    text-align: center;
    margin-bottom: 55px;
}
.main__design-icons{
    color: var(--gray);
    font-size: 47.57px;
    margin-bottom: 28px;
}
.main__design-title{
    text-transform: uppercase;
    font-size: 11.87px;
    line-height: 10px;
    font-family: var(--f500);
}
.main__design-description{
    font-size: 15.86px;
    color: var(--gray);
    margin-top: 20px;
    line-height: 32px;
}
.main__slider{
    background: var(--green);
    height: 500px;
}




.main__carousel-text{
    margin-top: 200px;
    font-size: 19.73px;
    line-height: 29px;
    color: var(--white);
    font-size: 19.73px;
    text-align: center;
}

.main__carousel-title {
    margin-top: 40px;
    font-size: 16.41px;
    line-height: 12px;
    margin-bottom: 172px;
    text-transform: uppercase;
    color: var(--white);
}
.carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    margin-right: 8px;
    
}
.carousel-indicators li:last-of-type{
    margin-right: 0;
}
.main__logos{
    margin: 68px;
}
.main__project{
    background: var(--grey);
    height: 752px;
}
.main__title-title{
    padding: 26px 0 32px 0;
    font-family: var(--f500);
    font-size: 30px;
}
.main__title-description1 , .main__title-description2{
    color: var(--gray);
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 40px;
}
.main__registration{
   margin-bottom: 38px;
}
.main__registration-input2, .main__registration-input3, .main__registration-input4{
    margin-top: 30px;
}
.main__registration-input{
    height: 48px;
}
.input-comment{
    height: 169px;
    color: var(--gray);
}
.main__registration-btn{
    background: var(--green);
    color: var(--white);
    font-family: var(--f500);
    font-size: 12px;
    padding: 23px 26px;
    text-transform: uppercase;
    line-height: 10px;

}
.main__registration-btn:hover{
    color: var(--white);
    background: purple;
}
.main__about-right{
    background: var(--grey);
    width: 680px;
}
.about-img{
    object-fit: cover;
}
.main__about-title{
    padding: 140px 127px 0 110px;
    font-family: var(--f500);
    font-size: 30px;
}
.main__about-description1{
    padding: 0 127px 0 110px;
    font-family: var(--nr);
    font-size: 16px;
    color: var(--gray);
    line-height: 32px;
}
.main__about-description2{
    padding: 0 127px 0 110px;
    font-family: var(--nr);
    font-size: 16px;
    color: var(--gray);
    line-height: 32px;
}
.signature{
    padding: 0 127px 0 110px;
}
.main__title2{
    margin-top: 102px;
    height: 395px;
}
.main__title-description{
    color: var(--gray);
    font-family: var(--nr);
    font-size: 16px;
    margin-bottom: 5px;
}
.btn2{
    background: var(--green);
    text-transform: uppercase;
    padding: 22px 43px;
    line-height: 10px;
    color: var(--white);
}
.btn2:hover{
    background: purple;
    color: var(--white);
    transition: 0.5s;
}
.main2__item{
    height: 570px;
    background: var(--grey);
}
.main2__item-title{
    padding: 105px 0 31px 129px;
    font-family: var(--f500);
    font-size: 38px;
    
}
.main2__item-desc1, .main2__item-desc2{
    padding: 0 0 33px 129px;
    color: var(--gray);
    font-family: var(--nr);
    font-size: 16px;
}
.main2__item-desc3{
    padding: 0 0 17px 129px;
    color: var(--gray);
    line-height: 10px;
    font-size: 16px;
    font-family: var(--nr);
}
.main2__item-desc4{
    padding: 0 0 105px 129px;
    color: var(--gray);
    line-height: 10px;
    font-size: 16px;
    font-family: var(--nr);
    margin-bottom: 105px;
}
.main2__span{
    color: var(--black);
}
.main__slider2{
    height: 100px;
    background: var(--green);
}
.carousel-item2{
    padding: 44px 0;
}
.main__slider2-icon{
    color: var(--white);
}
.priv_project, .next_project{
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--f500);
    font-size: 12px;
}
.main__slider-button1{
    color: var(--black);
    margin-right: 8px;
    font-size: 20px;
}
.main__slider-button2{
    color: var(--black);
    margin-left: 8px;
    font-size: 20px;
}
.main_contacts{
    background: var(--grey);
    height: 1177px;
}
.contacts__right{
    margin-left: 140px;
}
.contacts__info-title{
    padding-top:106px ;
    font-family: var(--f500);
    font-size: 30px;
}
.contacts__info-description{
    color: var(--gray);
    padding-top:43px ;
    font-family: var(--nr);
    font-size: 16px;
}
.contacts__info-adress{
    color: var(--gray);
    font-family: var(--nr);
    font-size: 16px;
}
.text{
    color: var(--black);
    font-family: var(--nr);
    font-size: 16px;
}
.contacts__right{
    padding-top: 106px;
}
.contacts__registration-input1{
   height: 47px;
   color: var(--gray);
}
.contacts__registration-input2{
    height: 47px;
    color: var(--gray);
}
.contacts__registration-comment{
    height: 173px;
    color: var(--gray);
}
.contacts__registration-btn{
    padding: 23px 26px;
    line-height: 9px;
    font-size: 12px;
    font-family: var(--f500);


    
    transform: 
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    background-color: #4973ff;
    transition: 
      box-shadow 0.4s ease, 
      background-color 0.4s ease, 
      color 0.4s ease;
    box-shadow: 
      0 0 2px 0 rgba(73, 115, 255, .1), 
      0 0 4px 0 rgba(73, 115, 255, .2), 
      0 0 6px 0 rgba(73, 115, 255, .3), 
      0 0 8px 0 rgba(73, 115, 255, .4),
      0 0 12px 0 rgba(73, 115, 255, .5), 
      0 0 18px 0 rgba(73, 115, 255, .6);
}
.contacts__registration-btn:hover{
    background-color: #ea3c;
    box-shadow: 
      0 0 2px 0 rgba(238, 170, 51, 0.1), 
      0 0 4px 0 rgba(238, 170, 51, 0.2), 
      0 0 6px 0 rgba(238, 170, 51, 0.3), 
      0 0 8px 0 rgba(238, 170, 51, 0.4),
      0 0 12px 0 rgba(238, 170, 51, 0.5), 
      0 0 18px 0 rgba(238, 170, 51, 0.6),
      0 0 4px 0 rgba(238, 170, 51, 0.7);
}
.contacts__registration-btn span{
    position: relative;
  z-index: 1;
  color: #fff;
}
.contacts__registration-btn i{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 
      transform 0.4s linear, 
      top 1s linear;
    overflow: hidden;
}
.contacts__registration-btn i:before,
.contacts__registration-btn i:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
.contacts__registration-btn i:before {
  border-radius: 46%;
  background-color: rgba(20, 20, 20, 0.2);
  animation: animate 5s linear infinite;
}
.contacts__registration-btn i:after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.map{
    width: 100%;
    margin: 100px 0;
}
/* MAIN End */
/* ********************************************* */
/* FOOTER START */
.footer{
    background: var(--black);
    height: 283px;
}
.footer__info{
    padding-top: 100px;
    
}

.footer__info1-description1{
    font-family: var(--f500);
    font-size: 18px;
    padding-bottom: 28px;
    color: var(--white);
}
.footer__info1-description2 , .footer__info1-description3{
    font-size: 15px;
    color: var(--gray);
}
.footer__info2-mail, .footer__info2-number{
    color: var(--gray);
    font-family: var(--nr);
    font-size: 15px;
}
.footer__info2-mail:hover, .footer__info2-number:hover{
    color: var(--gray);
}
.footer__info3-links1{
    color: var(--gray);
    font-family: var(--nr);
    font-size: 15px;
}
.footer__info3-links1:hover{
    color: var(--gray);
}
/* FOOTER END */
/* *********************************************** */
/* MEDIA START */
@media (max-width: 1250px){
    .main2__item-title{
        padding: 30px 0 20px 129px;
         font-family: var(--f500);
         font-size: 30px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 10px 129px;
        font-size: 15px;
    }
 
}
@media (max-width: 1050px){
    .our__work-img{
        width: 100%;
    }
    .main2__item-title{
        padding: 30px 0 20px 80px;
         font-family: var(--f500);
         font-size: 30px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 10px 80px;
        font-size: 15px;
    }
    .priv_project, .next_project{
        font-size: 10px;
    }
    .main__slider-button1, .main__slider-button2{
        font-size: 10px;
    }
}
@media (max-width:992px){
    .header__text-title{
       font-size: 25px;
       text-align: center;
   }
   .header__text-description{
       margin: auto;
   }
  .header__text-button{
    margin: 15px 0 15px 340px;
    font-size: 10px;
    padding: 18px 40px;
   
  }
  .header__text{
      margin-top: 20px;
  }
  .title__heading{
      font-size: 25px;
  }
  .title__description{
      font-size: 10px;
  }
    .main__skills-box {
      margin: 80px 55px 20px 50px;
}
.main__skills-item::after {
    width: 500px; 
}
.main__skills-title{
    font-size: 20px;
}
.main__skills-item{
    font-size: 10px;
}
.bag, .clock, .star, .heart{
    font-size: 38px;
}
.main__icons-stats-description-1{
    font-size: 15px;
}
.main__icons-stats-description-2{
    font-size: 8px;
}
.main__icons{
    height: 180px;
}
.main__icons-stats{
    padding: 50px;
}
.load__more-link{
    font-size: 15px;
}
.title__heading2{
    font-size: 25px;
}
.title__description2{
    font-size: 10px;
}
.our__work-img{
    object-fit: cover;
    width: 100%;
}
.main__design-icons{
    font-size: 25px;
}
.main__design-title{
    font-size: 10px;
}
.main__design-description{
    font-size: 10px;
    margin-top: 10px;
}
.main__carousel-text{
    font-size: 15px;
}
.main__carousel-title{
    font-size: 15px;
}
.main__title-title{
    font-size: 25px;
}
.main__title-description1, .main__title-description2{
    font-size: 10px;
    text-align: center;
}
.main__work-img{
    object-fit: cover;
    width: 100%;
}
.main__about-right{
    width: 500px;
}
.main__about-description1, .main__about-description2{
    font-size: 15px;
}
.main2__item-title{
    padding: 100px 0 20px 80px;
     font-family: var(--f500);
     font-size: 30px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 80px;
    font-size: 15px;
}
.img{
    width: 500px;
    height: 100%;
    object-fit: cover;
}
.priv_project, .next_project{
    font-size: 8px;
}
.main__slider-button1, .main__slider-button2{
    font-size: 10px;
}
.contacts__registration-input, .contacts__registration-comment{
    font-size: 10px;
}
.contacts__registration-btn{
    padding: 15px 10px;
    font-size: 10px;
}
}
@media (max-width: 900px){
    .main__skills-item::after {
        width: 400px;
        margin-top: 5px;
    }
    .main__skills-box{
        margin-top: 25px;
    }
    .main__about-right{
        width: 300px;
        
    }
    .main__about-description1, .main__about-description2{
        font-size: 15px;
    }
    .main__about-title{
        padding: 50px 127px 0 110px;
    }
    .main__about-description1{
        padding: 0 50px 0 50px;
    }
    .main__about-description2{
        padding: 0 50px 0 50px;    
}
.main2__item-title{
    padding: 100px 0 20px 60px;
     font-family: var(--f500);
     font-size: 30px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 60px;
    font-size: 12px;
}
}
@media(max-width: 950){
    .main__about-right{
        width: 100px;
    }
    
    .main__about-description1, .main__about-description2{
        font-size: 15px;
        line-height: 20px;
    }
    .about-img{
        object-fit: cover;
        width: 100%;
    }
    .signature{
        padding: 0px 127px 20px 30px;
    }
}
@media(max-width:790px){
    .main2__item-title{
        padding: 100px 0 20px 50px;
         font-family: var(--f500);
         font-size: 25px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 0 50px;
        font-size: 10px;
    }

}
@media (max-width: 770px){
    .header__text-title{
        font-size: 20px;
    }
    .header__text-description{
        font-size: 10px;
    }
    .header__text-button{
        margin: 15px 0 15px 240px;
    }
    .title__heading{
        font-size: 20px;
    }
    .title__description{
        font-size: 10px;
    }
    .main__skills-box {
        margin: 80px 55px 0 55px;
  }
  .main__skills-title{
    font-size: 15px;
}
.main__skills-item::after {
    width: 300px;  
}
.main__skills-item{
    font-size: 7px;
}
.bag, .clock, .star, .heart{
    font-size: 28px;
}
.main__carousel-text{
    font-size: 10px;
}
.main__title-title{
    font-size: 25px;
}
.main__title-description1, .main__title-description2{
    font-size: 10px;
    text-align: center;
}
.main__work-img{
    object-fit: cover;
    width: 100%;
}
.main__registration-input{
    height: 38px;
}
.main__registration-btn{
    font-size: 10px;
    padding: 10px 15px 10px;
}
.footer__info1-description1{
    font-size: 12px;
    padding-bottom: 5px;
}
.footer__info1-description2{
    font-size: 8px;
}
.footer__info1-description3{
    font-size: 8px;
}
.footer__info2-mail, .footer__info2-number, .footer__info3-links1{
    font-size: 10px;
}
.img{
    width: 400px;
}

}
@media screen and  (max-width: 768px){
    .header__text-button{
        margin: 15px 0 15px 140px ;
        font-size: 10px;
        padding: 18px 40px;
      }
      .main__skills-item::after {
        width: 250px;
        margin-top: 5px;
    }
    .main__skills-box{
        margin-top: 100px;
    }
}
@media(max-width:840px){
    .main__about-title{
        padding: 50px 127px 0 110px;
        font-size: 25px;
    }
    .main__about-description1{
        padding: 0 50px 0 50px;
        font-size: 10px;
    }
    .main__about-description2{
        padding: 0 50px 0 50px;  
        font-size: 10px;  
}
}
@media(max-width:788px){
    .main__about-title{
        padding: 40px 127px 0 80px;
        font-size: 20px;
    }
    .main__about-description1{
        padding: 0 40px 0 80px;
        font-size: 12px;
    }
    .main__about-description2{
        padding: 0 40px 0 80px;  
        font-size: 12px;  
}
.signature{
    padding: 0px 127px 30px 80px;
    width: 100%;
}
}
@media screen and (max-width:991px){
    .header__text-button{
        margin: 15px 0 15px 240px ;
        font-size: 10px;
        padding: 18px 40px;
       
      }
}
@media screen and (max-width: 767px){
    .header__text-button{
        margin: 15px 0 15px 140px ;
        font-size: 10px;
        padding: 18px 40px;
       
      }
}
@media(max-width:660px){
    .main2__item-title{
        padding: 100px 0 20px 50px;
         font-family: var(--f500);
         font-size: 25px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 0 50px;
        font-size: 10px;
    }
    .img{
        width: 350px;
    }
}
@media(max-width:596px){
    .main__about-title{
        padding: 50px 127px 0 50px;
        font-size: 15px;
    }
    .main__about-description1{
        padding: 0 50px 0 50px;
        
    }
    .main__about-description2{
        padding: 0 50px 0 50px;    
}
.signature{
    padding: 5px 127px 0 30px;
}
.main2__item-title{
    padding: 100px 0 20px 40px;
     font-family: var(--f500);
     font-size: 22px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 40px;
    font-size: 10px;
}
.img{
    width: 320px;
}
.priv_project, .next_project{
    font-size: 5px;
}
.main__slider-button1, .main__slider-button2{
    font-size: 10px;
}
}
@media (max-width: 550px){
    .main__skills-item::after {
        width: 200px;
        margin-top: 5px;
    }
    .main__skills-box{
        margin-top: 25px;
    }
    .header__main-title2{
        font-size: 25px;
    }
    .header__main-description2{
        font-size: 15px;
    }
      .main__about-title{
        padding: 40px 127px 0 20px;
        font-size: 10px;
    }
    .main__about-description1{
        padding: 0 40px 0 20px;
        line-height: 15px;
        
    }
    .main__about-description2{
        padding: 0 40px 0 20px;    
        line-height: 15px;
}
.signature{
    padding: 0px 127px 50px 30px;
}
.main2__item-title{
    padding: 100px 0 20px 20px;
     font-family: var(--f500);
     font-size: 20px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 20px;
    font-size: 10px;
}
.contacts__right{
    margin-left: 50px;
}
.contacts__info-title{
    font-size: 25px;
}
.contacts__info-description, .contacts__info-adress{
    font-size: 15px;
}
}
@media screen and (max-width: 480px){
    .header__nav-link{
        color: red;
        font-size: 10px;
    }
       .header__text-title{
        font-size: 15px;
        text-align: center;
    }
    .header__text-description{
        font-size: 8px;
    }
    .header__text-button{
        margin: 15px 0 15px 120px ;
        font-size: 10px;
        padding: 18px 40px;
       
      }
      .header__text-button{
          font-size: 8px;
          padding: 10px 15px 10px;
      }
      .title__heading, .title__heading2, .main__title-title{
          font-size: 15px;
      }
      .title__description, .title__description2, .main__title-description1, .main__title-description2{
          font-size: 8px;
      }
        .main__skills-box {
             margin: 10px 5px 10px 15px;
  }

  .main__skills-title{
      font-size: 12px;
  }
  .main__skills-item{
      font-size: 7px;
  }
  .main__skills-item::after {
    width: 170px;
    margin-top: 5px;
}
  .main__icons{
      height: 120px;
  }
  .main__icons-stats{
      padding: 15px 0;
  }
  .bag, .clock, .star, .heart{
      font-size: 12px;
  }
  .main__icons-stats-description-1{
      font-size: 10px;
  }
  .main__icons-stats-description-2{
      font-size: 7px;
  }
  .load__more-link{
      font-size: 12px;
  }
  .main__design-icons{
      font-size: 15px;
  }
  .main__design-title{
      font-size: 12px;
  }
  .main__design-description{
      font-size: 7px;
  }
  .main__registration-input{
      height: 30px;
      width: 500px;
  }
  .input-comment{
      height: 60px;
  }
  .footer__info1-description1{
      font-size: 8px;
     padding-bottom: 1px;
  }
  .footer__info1-description2, .footer__info1-description3{
      font-size: 5px;
  }
  .footer__info2-mail, .footer__info2-number, .footer__info3-links1{
      font-size: 7px;
  }
  .header__main-title{
      font-size: 20px;
  }
  .header__main-description{
      font-size: 15px;
  }
  .main__title-title{
      font-size: 20px;
  }
  .main__title-description{
      font-size: 15px;
  }
  .btn2{
      font-size: 12px;
      padding: 12px 18px;
      margin-top: 15px;
  }
  .main2__item-title{
    padding: 80px 0 20px 15px;
     font-family: var(--f500);
     font-size: 18px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 10px 15px;
    font-size: 8px;
}
.main2__item{
    height: 400px;
}
.img{
    height: 400px;
    width: 250px;
}
.contacts__right{
    margin-left: 40px;
}
.contacts__info-title{
    font-size: 20px;
}
.contacts__info-description{
    font-size: 12px;
    padding-top: 20px;
}
.contacts__info-adress, .text{
    font-size: 10px;
}
.contacts__registration-btn{
    font-size: 8px;
}
}
@media(max-width: 455px){
    .main__about-title{
        padding: 70px 127px 0 50px;
        font-size: 15px;
    }
    .main__about-description1{
        padding: 0 50px 0 50px;
        font-size: 10px;
        line-height: 10px;
    }
    .main__about-description2{
        padding: 0 50px 0 50px; 
        font-size: 10px;  
        line-height: 10px; 
}
.signature{
    padding: 0px 50px 0px 50px;
    object-fit: cover;
}
.main__slider2{
    height: 80px;
}
.priv_project, .next_project{
    font-size: 3px;
}
.main__slider-button1, .main__slider-button2{
    font-size: 10px;
}
.main__slider-icon{
    font-size: 10px;
}
}
@media(max-width: 400px){
    .main2__item-title{
        padding: 50px 0 20px 15px;
         font-family: var(--f500);
         font-size: 18px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 10px 15px;
        font-size: 8px;
    }
    .main2__item{
        height: 370px;
    }
    .img{
        height: 370px;
        width: 220px;
    }
    .contacts__right{
        margin-left: 20px;
    }
    .contacts__info-title{
        font-size: 15px;
    }
    .contacts__info-description{
        font-size: 8px;
        padding-top: 20px;
    }
    .contacts__info-adress, .text{
        font-size: 8px;
    }
    .contacts__registration-btn{
        font-size: 8px;
    }
    .contacts__registration-input{
        font-size: 8px;
    }
}
@media(max-width: 375px){
    .main__about-title{
        padding: 50px 127px 0 20px;
        font-size: 12px;
    }
    .main__about-description1{
        padding: 0 50px 0 20px;
        font-size: 8px;
    
    }
    .main__about-description2{
        padding: 0 50px 0 20px; 
        font-size: 8px;
}
.signature{
    padding: 0px 50px 0px 20px;
    object-fit: cover;
}
.main2__item-title{
    padding: 50px 0 20px 12px;
     font-family: var(--f500);
     font-size: 15px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 12px;
    font-size: 6px;
}
.main2__item{
    height: 300px;
}
.img{
    height: 300px;
    width: 200px;
}
}
@media screen and (max-width:360px){
    .header__nav-link{
        color: red;
        font-size: 8px;
    }
    .header__text-button{
        margin: 15px 0 15px 100px ;
        font-size: 7px;
        padding: 10px 15px;
       
      }
      .main__skills-item::after {
        width: 170px;
        margin-top: 5px;
    }
    .main__skills-title{
        font-size: 8px;
    }
    .main__skills-item{
        font-size: 5px;
        
    }
    .main__icons{
        height: 80px;
    }
    .bag, .clock, .star, .heart{
        font-size: 10px;
    }
    .main__icons-stats-description-1{
        font-size: 8px;
        margin-bottom: 5px;
    }
    .main__icons-stats-description-2{
        font-size: 5px;
    }
    .load__more{
        height: 80px;
    }
    .load__more-link{
        font-size: 8px;
        padding-top: auto;
    }
    .main__design-title{
        font-size: 8px;
    }
 
    .main__carousel-text{
        font-size: 7px;
    }
    .main__carousel-title{
        font-size: 10px;
    }
    .main__registration-input, .input-comment{
        font-size: 8px;
    }
    .main__registration-btn{
        font-size: 5px;
    }
    .footer{
        height: 163px;
    }
    .footer__info{
        padding-top: 50px;
    }
    .footer__info1-description1{
        font-size: 5px;
    }
    .footer__info1-description2{
        font-size: 4px;
    }
    .footer__info1-description3, .footer__info2-mail, .footer__info2-number, .footer__info3-links1{
        font-size: 4px;
    }
    .header__main-title{
        font-size: 15px;
    }
    .header_main-description{
        font-size: 10px;
    }
    .main__about-title{
        padding: 10px 20px 10px 20px;
    }
    .main__about-right{
        width: 200px;
    }
    .main__about-description1, .main__about-description2{
        font-size: 10px;
    }
    .main__about-left{
        width: 100%;
    }
    .main__about-title{
        padding: 50px 20px 0 20px;
        font-size: 10px;
    }
    .main__about-description1{
        padding: 0 20px 0 20px;
        font-size: 6px;
        line-height: 10px;
    }
    .main__about-description2{
        padding: 0 20px 0 20px; 
        font-size: 6px;  
        line-height: 10px; 
}
.signature{
    padding: 0px 50px 20px 20px;
    object-fit: cover;
}
.main2__item-title{
    padding: 50px 0 20px 12px;
     font-family: var(--f500);
     font-size: 15px;
}
.main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
    padding: 0 0 0 12px;
    font-size: 6px;
}
.main2__item{
    height: 300px;
}
.img{
    height: 300px;
    width: 200px;
}
}
@media(max-width: 320px){
    .main2__item-title{
        padding: 50px 0 20px 12px;
         font-family: var(--f500);
         font-size: 15px;
    }
    .main2__item-desc1, .main2__item-desc2, .main2__item-desc3, .main2__item-desc4{
        padding: 0 0 0 12px;
        font-size: 6px;
    }
    .main2__item{
        height: 300px;
    }
    .img{
        height: 300px;
        width: 170px;
    }
}
/* MEDIA END */
/* ************************************************* */

.phone {
    position: fixed;
    right: 10%;
    bottom: 5%;
    
}
.phone__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: red;

    animation: shake 2s infinite cubic-bezier(.36, .07, .19, .97) both;
}
@keyframes shake {
  5%,
  45% {
    transform: rotate3d(0, 0, 1, -7deg); 
  }
  10%,
  40% {
    transform: rotate3d(0, 0, 1, 7deg);   
  }
  15%,
  25%,
  35% {
    transform: rotate3d(0, 0, 1, -7deg);
  }
  20%,
  30% {
    transform: rotate3d(0, 0, 1, 7deg);
  }
  51% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
@keyframes animate {
    0% {
      transform: 
        translate(-50%, -75%) 
        rotate(0deg);
    }
    100% {
      transform: 
        translate(-50%, -75%) 
        rotate(360deg);
    }
  }